**/*.js.map
build/*.js
!build/stable.js
!build/latest.js
!build/stable.js.map
!build/latest.js.map

/examples/
/scripts/
/grammer/
/test/
/.idea/
/src/


*.es
out.js
out.py
esconfig.json

*.js
!cli.js

*.log

tsconfig.json
webpack.config.js
.gitignore
.gitattributes
.eslintignore
.eslintrc