**/*.js.map
build/*.js
!build/stable.js
!build/latest.js
/examples/
/grammer/
/test/
.gitattributes
/.idea/
/src/
build.js
test.es
out.js
out.py
tsconfig.json
webpack.config.js
.gitignore
esconfig.json